<h1 class="center">Your Daily Prediction</h1>

<div class="row">
  <div class="col">
  </div>
  <div class="col-8 zodiacs_box">
    <% @zodiacs.each do |z| %>
      <%= link_to zodiac_path(sign: z.sign), id: z.sign, class: "signs", title: "#{z[:sign]}" do %>
        <%=image_tag("#{z[:sign]}.png", class: "#{z[:sign]}")%>
      <% end %>
    <%end%>
  </div>
  <div class="col">
  </div>
</div>
