// Place all the styles related to the zodiacs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  margin-bottom: 40px !important;
  text-align: center;
}

.zodiacs_box{
  // max-width: 800px;
  // max-height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.signs{
  position: relative;
  display: block !important;
  width: 25%;
}


.signs:before{
  content: "";
  display: block !important;
  padding-top: 100%;
}

.signs > img{
  width: 100%;
  height: 100%;
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.home-card{
  // width: 50%;
}

.home-sign{
  display: inline;
  width: 25%;
}

.home-date{
  width: 75%;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.home-sign-greet{
  padding: 0 20px;
}

.home-pred{
  display: inline-block;
  width: 50%;
}

.home-comment{
  width: 100%;
}
